/*--- NORMALIZE ---*/
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body{
    overflow: hidden;
}

/*--- FONT ---*/
@font-face {
    font-family: mark;
    src: url("../res/ArchitectsDaughter-Regular.ttf");
  }

/*--- BOTTOM STYLE ---*/
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(41, 40, 40);
    width: 100%;
    min-height: 1057px;
}

/*--- WELCOME MODAL ---*/
.modal-welcome, .modal-players, .modal-dif{
    box-shadow:  0px 0px 5px inset rgb(62, 62, 97),
    0px 0px 3px black;
    color: white;
    background-color: rgb(33, 33, 52);
    width: 400px;
    height: 220px;
    margin-top: -90px;
    border-radius: 20px;
}

.title{
    font-size: 30px;
    font-weight: bolder;
}

.separator{
    width: 90%;
    height: 3px;
    background-color: rgb(33, 33, 52);
    box-shadow:  0px 0px 50px inset rgb(62, 62, 97);
    margin-top: 5px;
    margin-bottom: 10px;
}

.box-text{
    margin: auto;
    margin-top: 20px;
    padding: 5%;
    text-align: center;
    width: 50%;
    border-radius: 20px;
}

.selections{
    display: flex;
    justify-content: center;
    gap: 20%;
    margin-top: 10px;
}

.selection, .selection-players, .selection-dif{
    font-family: mark;
    font-size: 35px;
    width: 20%;
    text-align: center;
    color: black;
    font-weight: bolder;
    background-color: rgb(22, 177, 238);
    padding-right: 3px;
    padding-left: 3px;
    border-radius: 10px;
}

.selection:hover, .selection-players:hover, .selection-dif:hover{
    box-shadow: 0px 0px 10px rgb(22, 177, 238);
}

/*--- SECTION BOARD-GAME ---*/
.board-game{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(33, 33, 52);
    box-shadow:  0px 0px 5px inset rgb(62, 62, 97),
    0px 0px 3px black;
    width: 300px;
    height: 450px;
    margin-top: -90px;
    border-radius: 10px;
}

.board{
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 15px;
    background-color: transparent;
    width: 70%;
    height: 250px;
    border-radius: 10px;
}

.line{
    gap: 15px;
}

/*--- SPINNER ---*/
.spinner-bottom{
    display: flex;
    gap: 10px;
    background-color: transparent;
    border-radius: 50px;
    align-items: center;
    width: 71%;
    height: 50px;
    margin-bottom: 10%;
    box-shadow:  -2px -2px 5px inset rgb(57, 57, 80), 
    -2px -2px 5px rgb(0, 0, 0);
}

.x-turn, .o-turn{
    color: white;
    text-align: center;
    width: 100%;
    padding-top: 9%;
    height: 70%;
    background-color: transparent;
    border-radius: 10px;
    font-weight: bolder;
    z-index: 3;
}

.selector{
    position: absolute;
    background-color: rgba(8, 226, 255, 0.747);
    box-shadow: 0px 0px 5px rgba(8, 226, 255, 0.747);;
    width: 110px;
    border-radius: 50px;
    height: 50px;
    z-index: 2;
}

.to-right{
    left: 49.7%;
    animation: toRight 0.1s;
}

.to-left{
    left:42.9%;
    animation: toLeft 0.1s;
}



@keyframes toRight {
    0%{
        left: 43.8%;
    }
    100%{
        left: 49.7%;
    }
}
@keyframes toLeft {
    0%{
        left: 49.7%;
    }
    100%{
        left:42.9%;
    }
}

/*--- TABLE ---*/
.line{
    display: flex;
    width: 100%;
    height: 120px;
}

.cell{
    width: 100%;
    box-shadow:  -2px -2px 2px inset rgb(22, 22, 27), 
    -2px -2px 5px rgb(0, 0, 0),
    2px 2px 2px rgb(69, 69, 80);
}

.select{
    text-align: center;
    width: 100%;
    height: 100%;
    color: white;
}

.select p{
    font-size: 400%;
}


/* PLAYERS */
.player{
    text-align: center;
    background-color: transparent;
    color: rgb(12, 228, 243);
}

.player p{
    font-family: mark;
    font-weight: bolder;
    font-size: 45px;
    margin: auto;
    animation: takeCell 0.1s;
}

@keyframes takeCell {
    0%{font-size: 0px; transform: rotate(0deg);}
    100%{font-size: 45px;transform: rotate(180deg);}
}

/* WINDOW FOR VICTORY */
.win{
    background-color: rgb(33, 33, 52);
    box-shadow:  0px 0px 5px inset rgb(62, 62, 97),
    0px 0px 3px black;
    width: 400px;
    height: 400px;
    margin-top: -150px;
    border-radius: 20px;
}

.textForVictory{
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 30px;
}

.default, .player-win{
    font-size: 50px;
    font-weight: bolder;
    text-shadow: 2px 2px 3px rgb(209, 205, 205);
    color: white;
    margin-bottom: 20px;
}

.container-win{
    margin-top: 30px;
    box-shadow:  -2px -2px 2px inset rgb(22, 22, 27), 
    -2px -2px 5px rgb(0, 0, 0),
    2px 2px 2px rgb(69, 69, 80);
}

.player-win{
    margin-top: 10px;
    font-family: mark;
    color: turquoise;
    margin-top: 5px;
    font-size: 100px;
    animation: text-to-win 0.3s;
}

@keyframes text-to-win {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(180deg);}
}

.button-retry{
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    font-size: 40px;
    color: white;
    box-shadow:  -2px -2px 2px inset rgb(22, 22, 27), 
    -2px -2px 5px rgb(0, 0, 0),
    2px 2px 2px rgb(69, 69, 80);
    border-radius: 20px;
    transition-duration: 1s;
}

.button-retry:hover{
    color: black;
    font-weight: bolder;
    background-color: turquoise;
    box-shadow: 0px 0px 10px turquoise;
}

/* RESPONSIVE */
@media (max-height:627px) {
    section{
        margin-top: -100px;
    }
    .modal-welcome, .modal-players, .modal-dif{
        margin-top: -500px;
    }

    #panel{
        margin-top: -650px;
    }

    .win{
        margin-top: -620px;
    }
}

@media(max-width:400px){
    .modal-welcome, .modal-players, .modal-dif{
        width: 90%;
        height: 250px;
    }
    .selection, .selection-players, .selection-dif{
        width: 90%;
        margin-right: 10px;
        margin-left: 10px;
    }

    .win{
        width: 95%;
    }
}

.no-visible{
    display: none;
}